/* Box layout */
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-10 {
    width: 83.333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.667%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.667%;
}

/* global css */

body, input, textarea, button {
    font-family: 'Baumans', cursive;
    font-size: 18px;
}

input {
    width: 100%
}

h1 {
    font-size: 24px;
}

header {
    text-align: center;
}

.error {
    color: #cc0000;
}

/* navigation bar */
.nav-link {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
}

.back-link {
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
}

/* forms */
.entry-login {
    margin: 5px 0;
}

.blogpostentry {
    height: 300px;
    width: 100%;
    color: #808080;
}

.blog {
    margin: 10px 0;
    padding: 5px 5px;
    border-style: outset;
    border-color: #f0f0f5;
    border-radius: 5px;
}

.subject {
    margin: 0 0 5px 0;
}

.likes {
    text-align: center;
    color: #009900;
}

.dislikes {
    text-align: center;
    color: #cc0000;
}

.author {
    text-align: right;
}

.blogpost {
    color: #808080;;
}

.actions {
    text-align: right;
}