/* Box layout */
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
}

.col-10 {
    width: 83.333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.667%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.667%;
}

.col-4 {
    width: 33.333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.667%;
}

.col-1 {
    width: 8.333%;
}

/* global css */

body, input, textarea, button {
    font-family: 'Baumans', cursive;
    font-size: 18px;
}

input {
    width: 100%
}

h1 {
    font-size: 24px;
}

header {
    text-align: center;
}

.error {
    color: #cc0000;
}

/* navigation bar */
.nav-link {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
}

.back-link {
    margin: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #808080;
}

/* forms */
.entry-login {
    margin: 5px 0;
}

.button-link {
    background: none;
    border: none;
    cursor: pointer;
}

.button-link-big {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #808080;
    padding: 0 0;
}

.blogpostentry {
    height: 300px;
    width: 100%;
    color: #808080;
}

.blog {
    margin: 10px 0;
    padding: 5px 5px;
    border-style: outset;
    border-color: #f0f0f5;
    border-radius: 5px;
    width: calc(100% - 13px);
}

.subject {
    margin: 0 0 5px 0;
}

.likes {
    text-align: center;
    color: #009900;
}

.dislikes {
    text-align: center;
    color: #cc0000;
}

.author {
    text-align: right;
}

.blogpost {
    color: #808080;
    width: 83.333%;
}

.actions {
    text-align: right;
    width: 16.667%;
}

.action-items {
        width: 100%;
    }

/* adjust for mobile */
@media screen and (max-width: 420px) {
    body, .button-link-big, .back-link, .nav-link, input, textarea, button {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }

    .blogpost {
    color: #808080;
    width: 100%;
    }

    .actions {
        text-align: right;
        width: 100%;
    }

    .action-items {
        width: 33.333%;
    }