<!-- simple template to be included when writing out 1 or more blog post -->
<article class="row blog">
    <div class="row subject">
        <div class="col-5">
            <div>{{blog.subject}}</div>
        </div>
        <form class="col-2" method="post" action="/blog/like">
            <input type="hidden" name="blog_id" value="{{blog.key.id()}}">
            <div class="likes">
                <button class="button-link likes" name="like" value="like">
                    <img src="/img/likes.svg" height="22px" width="22px">
                    {{blog.likes}}</button>
            </div>
            <div class="dislikes">
                    <button class="button-link dislikes" name="dislike" value="dislike">
                        <img src="/img/dislikes.svg" height="18px" width="18px">
                        {{blog.dislikes}}</button>
            </div>
        </form>
        <div class="col-5 author">
            <div>{{blog.username}} {{blog.updated.strftime('%B %d %Y')}}</div>
        </div>
    </div>
    <div class="row">
        <div class="blogpost">
            <div>{{blog.blog}}</div>
        </div>
        <div class="actions">
            {% if not viewpost %}
            <div class="action-items"><a class="nav-link" href={{"/blog/{}".format(blog.key.id())}}>VIEW ({{blog.comments | count }} comments)</a>
            </div>
            {% endif %}
            <div class="action-items"><a class="nav-link" href={{"/blog/edit/{}".format(blog.key.id())}}>EDIT</a>
            </div>
            <div class="action-items">
                <form method="post">
                    <input type="hidden" name="blog_id" value="{{blog.key.id()}}">
                    <button class="button-link-big" name="blogdelete" value="delete">DELETE</button>
                </form>
            </div>
        </div>
    </div>
</article>