{% extends "base.html" %}

{% block csscontent %}
<link rel="stylesheet" href="../css/blog.css" />
{% endblock %}

{% block content %}
{% include 'navigation.html' %}
<div class="row">
    <div class="col-12">
        <label class="error">{{e.error}}</label>
    </div>
</div>
{% include 'blogpost.html' %}
<br>
<!-- comments go here for comment in blog.comments
    draw comment.user said on date: comment.comment
    form post with blog id and comment index to edit
    form post with blog id and comment index to delete
-->
{% for comment in blog.comments %}
{% include 'blogcomment.html' %}
{% endfor %}
<!-- what to draw
    if e.postcomment then show textarea with blogid and save/cancel
    else show POST COMMENT form....
-->
{% if e.postcomment %}
<div class="action-items">
    <form method="post">
        <input type="hidden" name="blog_id" value={{blog.key.id()}}>
        <textarea class="blogcomment" name="comment">enter your comment here...</textarea>
        <button class="button-link-big" name="addcomment" value="addcomment">SAVE</button>
        <button class="button-link-big" name="blogcancel" value="blogcancel">cancel</button>
    </form>
</div>
{% endif %}
{% if not e.postcomment %}
<div class="action-items">
    <form method="post">
        <input type="hidden" name="blog_id" value={{blog.key.id()}}>
        <button class="button-link-big" name="postcomment" value="postcomment">POST COMMENT</button>
    </form>
</div>
{% endif %}
<br>
<div><a class="back-link" href="/blog">back to blogs</a></div>
{% endblock %}